body {
    background-image: url('../img/02/background.png');
    background-attachment: fixed;
    background-color: none;
    background-size: cover;
}

.header-tecnicos{
	position: relative;
	overflow: hidden;
	height:80px;
	background-image: url(../images/bg-topo-red.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	/* background-image:url(../images/bg-topo-logobg.png), url(../images/bg-topo-red.jpg);
	background-position:right,center;
	background-repeat:no-repeat, no-repeat;
	background-size: contain, cover; */

}
header.senac{
	background-color:#E84B3C;
}

.fundo-tecnicos{
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}
.imgoOverBlur{
    margin-bottom: -380px;
    z-index: 10;
    position: relative;
}
.imgoOverBlur figcaption{
    color: #fff;
}

figcaption {
    text-align: center;
    margin: 1.4em 0 1.4em 0;
}
.painebts{
    max-width: 750px;
    display: block;
    margin: 0 auto;
}
.painebts img{
    cursor: pointer;
    margin: 10px;
    width: 100%;
    max-width: 350px;
}

.painebts img:hover{
    opacity: 0.5;
}
.modal-header h4{ color: #fff !important;}
.modal-content{
    /* background-color: #DC9281; */
    background-image: url('../img/02/background_modal.png') !important;
    background-size: cover;
    color: #fff !important;
    padding: 40px;
}
.fig-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 30px auto;
}
.fig-flex img {
    margin-left: 20px;
}
.fig-flex figcaption {
    text-align: left;
    margin-right: 20px;
    font-size: 18px;
    margin-bottom: 0;
}
h1.titulo{
    color: #AB3A31;
}
h3 {
    margin-top: 60px;
}
h4 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.imgFloat{position: absolute; top:200px; max-width: 10%;}
.imgFloatDir{ right: 0%;}
.imgFloatEsq{ left: 0%;}
.imgFloattop{ top: 500px;}
.modal-btn {
    background-color: #c3c3c330;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 3px black;
    transition-duration: .1s;
    max-width: 48%;
    margin: 10px;
}
.modal-btn:hover {
    transform: scale(1.01);
    transition-duration: .1s;
}
.modal-btn img {
    max-width: 100%;
}
.modal-container {
    display: flex;
    justify-content: center;
}

h1 i, h2 i, h3 i, h4 i{
    font-weight: bold;
}

.div-painel{
    border: #28afb2 solid 3px;
    border-radius: 10px;
    width: 550px;
    display: block;
    margin: 100px auto 0px auto;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: bold;
}

.div-navegacao{
    border: #28afb2 solid 2px;
    border-radius: 10px;
    width: 450px;
    display: block;
    margin: 80px auto 0px auto;
    padding: 10px 0px;
}

.img-fig18, .img-fig19{
    cursor: pointer;
    transition: all 0.3s;
}
.img-afirmativa{
    border: #31ab37 solid 10px;
}
.img-negativa{
    border: #AB3A31 solid 10px;
}

@media screen and (max-width:1200px){
	.imgFloat{
        display: none;
	}
    
}

@media screen and (max-width:480px){
    .div-painel, .div-navegacao{
        width: 100%;
    }
}