body {
    /* background-image: url('../img/04/background.png'); */
    background: rgb(80,127,127) !important;
/* background: linear-gradient(180deg, rgba(80,127,127,1) 0%, rgba(46,79,78,1) 100%) !important; */
background-image: linear-gradient(to bottom, #507f7f, #477372, #3f6766, #365b5a, #2e4f4e) !important;

    /* background-attachment: fixed;
    background-color: none;
    background-size: cover; */
}

.header-tecnicos{
	position: relative;
	overflow: hidden;
	height:80px;
	background-image: url(../images/bg-topo-red.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	/* background-image:url(../images/bg-topo-logobg.png), url(../images/bg-topo-red.jpg);
	background-position:right,center;
	background-repeat:no-repeat, no-repeat;
	background-size: contain, cover; */

}
header.senac{
	background-color:#E84B3C;
}

h1, h2, h3, h4, h5{
    color: #fff;
}
/* h1{
    font-size: 4em;
} */
.imgFloat2{
    position: absolute;
    left: 3%;
    width: 13%;
}

.fundo-tecnicos{
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}
.imgoOverBlur{
    margin-bottom: -380px;
    z-index: 10;
    position: relative;
}
.imgoOverBlur figcaption{
    color: #fff;
}
.imgBlur{
    filter: blur(4px);
    max-width: 100%;
}

figcaption {
    text-align: center;
    margin: 1.4em 0 1.4em 0;
}
.painelTablet{
    background-image: url('../img/04/ipad.png');
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 622px;
    height: 941px;
    width: 100%;
}
.painebts{
    /* max-width: 750px; */
    display: block;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 28px;
    padding-top: 93px;
}
.painebts img{
    cursor: pointer;
    cursor: url('../img/04/cursor.png'), pointer;
    width: 49.6%;
    padding: 0 !important;
    margin: 0!important;
    max-width: 350px;
}

.painebts img:hover{
    opacity: 0.5;
}
.modal-header h4{ color: black; }
.modal-content{
    /* background-color: #DC9281; */
    background-image: url('../img/04/background_modal.png');
    background-size: cover;
    padding: 40px;
}
button.close img{
    width: 30px;

}
.fig-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 30px auto;
}
.fig-flex img {
    margin-left: 20px;
}
.fig-flex figcaption {
    text-align: left;
    margin-right: 20px;
    font-size: 18px;
    margin-bottom: 0;
}
h3 {
    margin-top: 60px;
}
h4 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.modal-btn {
    background-color: #c3c3c330;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 3px black;
    transition-duration: .1s;
    max-width: 48%;
    margin: 10px;
}
.modal-btn:hover {
    transform: scale(1.01);
    transition-duration: .1s;
}
.modal-btn img {
    max-width: 100%;
}
.modal-container {
    display: flex;
    justify-content: center;
}
.imgFloat1{
    float: right;
    width: 350px;
    max-width: 30%;
}

@media screen and (max-width:1500px){
    .imgFloat2{
        position: absolute;
        left: 1%;
        width: 9%;
    }

}
@media screen and (max-width:1250px){
    .imgFloat2{
        display: none;
    }

}